{% extends "base.html" %}

{% block content %}
        <div class="row">
            <div class="col">
                <h3>Create a Blog:</h3>
                <form action="/create_blog" method="POST">
                    {% csrf_token %}
                    <label for="title">Title the Blog:</label>
                    <input type="text" name="title" class="form-control">

                    <label for="content">Blog Content:</label>
                    <input type="textarea" name="content" class="form-control">

                    <label for"creator">Whose Blog?:</label>
                    <select name="creator">
                            {% for user in all_users %}
                        <option value="{{ user.id }}">{{ user.Username }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Create">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <table class = "table table.dark">
                    <tr><th>Title</th><th>Creator</th><th>Actions</th></tr>
                {% if some_blogs == True %}
                {% for blog in all_blogs %}
                    
                    <tr><td><a href="/blogs/{{ blog.id }}">{{ blog.Title }}</a></td> 
                        <td>{{ blog.Creator.Username }}</td>
                        <td> <a href ="/blogs/edit/{{blog.id}}">EDIT</a> 
                        | <a href="/delete_blog/{{blog.id}}">DELETE</a></td></tr>
                {% endfor %}
                {% else %}
                    <li>No Blogs in the Database!! </li>
                {% endif %}
                </table>
            </div>
            {% block sidebar %}
            {% endblock %}
        </div>


{% endblock %}