{% extends "base.html" %}

{% block content %}
        <div class="row">
            <div class="col">
                <h3>Create a Blog:</h3>
                <form action="/create_blog" method="POST">
                    {% csrf_token %}
                    <label for="title">Title the Blog:</label>
                    <input type="text" name="title" class="form-control">

                    <label for="content">Blog Content:</label>
                    <input type="textarea" name="content" class="form-control">

                    <label for"creator">Whose Blog?:</label>
                    <select name="creator">
                            {% for user in all_users %}
                        <option value="{{ user.id }}">{{ user.Username }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Create">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul>
                {% if some_blogs == True %}
                {% for blog in all_blogs %}
                    <li><a href="/blogs/{{ blog.id }}">{{ blog.Title }}</a> 
                        created by: {{ blog.Creator.Username }} 
                        | <a href ="/blogs/edit/{{blog.id}}">EDIT</a> 
                        | <a href="/delete_blog/{{blog.id}}">DELETE</a></li>
                {% endfor %}
                {% else %}
                    <li>No Blogs in the Database!! </li>
                {% endif %}
                </ul>
            </div>
        </div>

{% endblock %}