{% extends "base.html" %}

{% block content %}
        <div class="row">

            <div class="col">
                <h3>Edit {{blog_to_edit.Creator.Username}}'s Blog:</h3>
                <form action="/edit_blog/{{blog_to_edit.id}}" method="POST">
                    {% csrf_token %}
                    <label for="title">Change the title:</label>
                    <input type="text" name="title" class="form-control" value="{{blog_to_edit.Title}}">

                    <label for="content">Edit the Content:</label>
                    <input type="textarea" name="content" class="form-control" value="{{blog_to_edit.Text}}">

                    <input type="submit" value="Edit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}