{% extends "base.html" %}

{% block content %}
        <div class="row">
            <div class="col">
                <h3>Create a User:</h3>
                <form action="/create_user" method="POST">
                    {% csrf_token %}
                    <label for="username">Enter Username:</label>
                    <input type="text" name="username" class="form-control">
                    <input type="submit" value="Create">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul>
                {% for user in all_users %}
                    <li>{{ user.Username }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
{% endblock %}