{% extends "base.html" %}

{% block content %}
        <div class="row">
            <div class="col">
                <h1>{{ pineapple.Title }}</h1>
                Created on: <h3>{{ pineapple.created_at }}</h3>
                Created by: <h3>{{ pineapple.Creator.Username }}</h3>
                <p><a href = "/blogs/edit/{{pineapple.id}}">EDIT</a></p>
                <p><a href="/delete_blog/{{pineapple.id}}">DELETE</a></p>

                {{ pineapple.Text }}

            </div>
        </div>
{% endblock %}